@charset "utf-8";
@import 'common.css';
/* * {
  outline: 1px solid green;
  margin: 0;
} */

body {
  background-color: var(--color-main-point);
}

/* 기본레이아웃 */
.wrap {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1500px) 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'hd hd hd'
    'l fg r'
    'l mn r'
    'ft ft ft';
}

.hd-l,
.hd-r {
  grid-area: hd;
}

.fg-l,
.mn-l,
.ft-l {
  grid-area: l;
  background-color: var(--color-grey1);
}

.fg-r,
.mn-r,
.ft-r {
  grid-area: r;
  background-color: var(--color-grey1);
}

/* 상단 배너 */
.fg-banner {
  grid-area: fg;
  width: 100%;
  height: 280px;
}

/* 메인 */
.container {
  grid-area: mn;
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  padding-bottom: 0;
}
