@charset "utf-8";
@import 'theme/layout.css';

.fg-banner{
    background-color: var(--color-background2);
    padding: 20px;

}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-main-background);
}

/* 지도 */
#map {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

/* 동물병원 주소검색 */
.address-btns{
    margin-top: 20px;
}
.buttons{
    width: auto;
    height: 50px;
    border-radius: 2rem;
    border-color: inherit;
    background-color: var(--color-main-background);
    font-size: 0.8rem;
    margin-right: 20px;
}

#searchAddr{
    margin-right: 20px;
}

.address{
    display: flex;
    margin-top: 2rem;
    color: var(--color-grey4);
}


/* 동물병원 키워드 검색 메뉴 */
.container .findHospital{
    display: inline-block;
    height: 40px;
    background-color: var(--color-background);
    margin-bottom: 20px;
    padding: 10px;
}

.findHospital__search-keyword{
    display: flex;
    align-items: center;    
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    margin-bottom: 30px;
}

/* .findHospital__search-keyword label{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
}

#keyword{
    width: 300px;
    height: 30px;
    border-radius: 20px;
} */

.board-filter{
    margin-left: 45rem;
    width: 200px;
    height: 30px;
}


/* 병원 검색 결과 목록 */
.container .findedHospital{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: var(--color-background2);
}

.finded-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
} 

#findDetail{
    border-radius: 2rem;
    border-color: inherit;
    height: 50px;
    background-color: var(--color-main-background);
    padding: 5px;
}




